.button--main{
    border: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: inherit;
    padding: .9688rem 1.5rem .875rem;
    border-radius: 1.25rem;
    letter-spacing: .7px;
    text-align: center;
    background-color: $white;
    cursor: pointer;
    line-height: 1.3;

    &:hover{
        background-color: rgba($color: $white, $alpha: 0.85);
    }
}