.header{
    background: $header-gradient;
    display: block;
    width: 100%;
    max-height: 180px;
    height: 100%;
    padding-block: 1.5rem;

    &__inner{
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
        align-items: center;
        margin: 0 1.3rem;
    }

    &__logo{
        height: 100%;
    }

    &__menu{
        display: contents;

        &-list{
            display: flex;
            justify-content: center;
            gap: 1.4rem;
            letter-spacing: .7px;
        }

        &-link{
            font-size: 1.1rem;
            padding: 0.5rem;
            color: $white;

            @media (hover: hover){
                &:hover{
                    opacity: 0.8;
                }
            }
        }

        &-dropdown{
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: #333;
            padding: 10px 0;

            &-link{
                display: block;
                padding: 8px 15px;
                color: white;
                text-decoration: none;
            }
        }
    }

    &__button{
        
        &-text{
            color: $black;
        }

    }
}

.hasDropdown_item{
    position: relative;
}






