html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    min-height: 100%;
    line-height: 1.5;
    font-family: $font-gradient;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}





